# Visual Studio / VS Code temporary files
.vs/
.vscode/
*.user
*.suo

# Build results
bin/
obj/
Debug/
Release/

# Publish output
publish/
*.dbmdl
*.cache
*.log

# User-specific files
*.userosscache
*.sln.docstates

# Dependency directories
node_modules/
packages/

# Others
*.swp
*.DS_Store
Thumbs.db
